resources/pedata/ntv2/japan/tky2jgd.gsb filter=lfs diff=lfs merge=lfs -text
jniLibs/LX64/libruntimecore_java.so filter=lfs diff=lfs merge=lfs -text
jniLibs/OSX64/libruntimecore_java.dylib filter=lfs diff=lfs merge=lfs -text
